$primary-color: #615ef0;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 24px;
  gap: 10px;

  position: absolute;
  width: 88px;
  height: 1050px;
  
  left: 0;
  top: 0;
  z-index: 5;

  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    .logo {
      width: 56px;
      height: 56px;

      background: $primary-color;
      border-radius: 14px;

      display: flex;
      align-items: center;
      justify-content: center;

      font-family: "Asap";
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 150%;

      color: #ffffff;
    }

    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      gap: 32px;

      .icon {
        width: 30px;
        height: 24px;

        &--active {
          width: 30px;
          height: 24px;
          color: $primary-color;
        }
      }
    }
  }
}
